#################
#
# What is an alias?
#        An alias is a command that allows you to make up new commands as abbreviations for longer, more complex commands.
#    Perhaps you want to alias 'ls' to 'ls -a' if you always want to show all files available in that directory.
#    Or maybe you want to alias 'script' to '/path/to/some/script/' because 'script' is much easier to type than the full path every time.
#
#        The complexity of an alias can be short, long, or in the middle. They're extremely flexible. We encourage you to learn but anyone on
#    the Ares can can help you if you get stuck.
#
# For more information please visit: https://home.adelphi.edu/sbloch/class/archive/271/fall2005/notes/aliases.html
#
#################

_ALIASES_FROM_CSH_
