#################
#
# What is a function?
#        A function can be thought of as a list of commands that can be called with a single, shorter, less complex command.
#    Perhaps you want to alias 'cd' to 'cd' AND 'ls' if you always want to show files in the directory you're moving into.
#
#        The complexity of a function can be short, long, or in the middle. They're extremely flexible. We encourage you to learn but anyone on
#    the Ares can can help you if you get stuck.
#
#    To start you off we've provided a basic function.
#
# For more information please visit: https://home.adelphi.edu/sbloch/class/archive/271/fall2005/notes/aliases.html
#
#################

function take_me_to_the_least_loaded_server
{
    local leastLoadedServer=$(/volatile/msreleases/Ares/Infrastructure/CURRENT/infrastructure/Scripts/Utility_Scripts/getLeastLoadServer.py)
    local currentServer=$HOST

    if [[ "$leastLoadedServer" != "$currentServer" ]];
    then
        command ssh -X -C -q $leastLoadedServer
    fi
}

_FUNCTIONS_FROM_CSH_