#
# Below is a list of available options that you can use to customize your prompt.
# This is not an exhaustive list so feel free to be creative.
#
# Key Characters:
# %B = start bold
# %b = end bold
# %F{<color_here>} = start color
# %f = end color
# %t = current time
# %? = exit code of the last returned command
# $GIT_INFO_MESSAGE = git information

# AVAILABLE COLORS ARE:
# black
# red
# green
# yellow
# blue
# magenta
# cyan
# white

CURRENT_WORKING_SERVER_COLOR=magenta
CURRENT_WORKING_PATH_COLOR=cyan
GIT_REPO_BRANCH_NAME_COLOR=yellow
COMMAND_INPUT_ICON_GOOD=">>"
COMMAND_INPUT_ICON_BAD=">>"
COMMAND_INPUT_ICON_COLOR=green


SERVER_NAME="%F{$CURRENT_WORKING_SERVER_COLOR}%B%m%b%f"
CURRENT_WORKING_PATH_TILDE="%F{$CURRENT_WORKING_PATH_COLOR}%B%~%b%f"
CURRENT_WORKING_PATH_FULL="%F{$CURRENT_WORKING_PATH_COLOR}%B%d%b%f"
INPUT_ICON="%B%(?.%F{$COMMAND_INPUT_ICON_COLOR}$COMMAND_INPUT_ICON_GOOD.%F{red}$COMMAND_INPUT_ICON_BAD)%f%b"

PROMPT=' $SERVER_NAME $CURRENT_WORKING_PATH_FULL $GIT_INFO_MESSAGE
 $INPUT_ICON '
